@import "./config";
.container {
  display: flex;
  margin: 4rem 5rem 5rem 5rem;
  .left_flex {
    flex: 2;
    margin-right: 3rem;
    .single_post_title {
      @include single_post(2rem 0rem 1rem 0rem, 2rem, 0cm);
    }
    .single_post_caption {
      font-size: 1.1rem;
      margin: 0rem;
      color: rgb(47, 46, 46);
      font-weight: lighter;
      text-align: justify;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    }

    .category {
      display: grid;
      margin: 2rem 0;
      grid-template-columns: 1fr;
      justify-content: space-around;
      .category_heading {
        font-size: 1.5rem;
        font-family: $read-font;
        font-weight: bolder;
      }
      .category_container {
        display: flex;
        justify-content: space-between;
        height: 20rem;
        width: 50rem;

        padding: 0rem 0rem;
        .post {
          @include post_cred(0.9rem);
          width: 18rem;
          text-align: center;
          margin: 4.6rem 0rem 0rem 0rem;
          padding: 0.4rem 1.3rem 0rem 0.9rem;
          color: white;
          height: 3.6rem;
          font-weight: bolder;
          border: 1px solid maroon;
          cursor: pointer;
        }
      }
    }
    .comments {
      justify-content: space-between;
      margin: 1rem 0rem 1rem 3rem;
      // border: 1px solid black;
      padding: 1rem 1rem;
      background-color: rgb(238, 238, 245);
      .comment_maker_pic {
        padding: 0.4rem 0.8rem;
        text-align: center;
        background-color: brown;
        color: white;
        border-radius: 110%;
        max-width: 2.2rem;
        max-height: 5.5vh;
      }
      .comment_maker_name {
        font-size: 1rem;
        font-family: $read-font;
        padding: 0.7rem 1rem;
        font-weight: bolder;
      }
      .comment_text {
        margin: 0.7rem 0 0 0rem;
        padding: 0.7rem 0rem 0 0;
        font-size: 1rem;
        font-family: $read-font;
        color: rgb(54, 51, 51);
        width: 53vw;
        word-wrap: break-word;
      }
    }
    .like_flex {
      border-radius: 15px;
      border: 1px solid rgb(58, 56, 56);
      padding: 1.2rem 1rem 0.7rem 1rem;
      display: flex;
      margin: -5rem 3rem 0rem 3rem;
      transition: 0.4s;
      justify-content: space-around;
      .like_heading {
        flex: 12;
        font-size: 1.5rem;
        font-weight: bold;
        font-family: $read-font;
      }
      .like_logo {
        flex: 1;
        margin-top: -0.8rem;
        font-size: 2.5rem;
        &:hover {
          color: rgb(11, 112, 28);
          cursor: pointer;
        }
      }
      .like_amount {
        flex: 0.2;
        font-size: 0.9rem;
        color: gray;
      }
      &:hover {
        background-color: rgb(238, 238, 245);
        color: rgb(0, 0, 0);
      }
    }
    .comment_section {
      margin: 4rem 3rem 1.2rem 3rem;
      .leave_reply {
        margin: 1rem 0rem;
        font-size: 1.4rem;
        font-weight: bold;
        font-family: $read-font;
      }
      .message {
        font-size: 1.2rem;
        font-family: $read-font;
        font-weight: bold;
        margin: 1.5rem 0rem 0.5rem 0rem;
      }
      .comment_field {
        margin: 0.5rem 0rem 0rem 0rem;
        height: 7rem;
        outline: none;
        font-family: $read-font;
        color: gray;
        font-weight: bold;
        width: 25rem;
        padding: 0rem 1rem;
      }
    }
    .comment_button {
      margin: -3rem 3rem 0rem 3rem;
      color: rgb(8, 8, 8);
    }
    .sign_in_button {
      margin: 2rem 10rem;
      color: rgb(155, 37, 37);
    }
  }
  .right_flex {
    flex: 1;
    .read_more_section {
      margin-top: 2rem;
    }
    .category_portion_heading {
      @include single_post(0rem 0rem 1rem 0rem, 2.1rem, 0.03cm);
      padding-bottom: 1vh;
    }

    .read_more {
      @include featured_section(25rem);
      margin: 4rem 0rem 4rem 0rem;
      border: 1px solid gray;
      .read_more_heading {
        padding: 1rem 0rem 0.7rem 2rem;
        font-family: $primary-font;
        color: maroon;
        font-size: 1.7rem;
        text-decoration: underline;
      }
      .read_more_container {
        display: flex;
        margin: 0.7rem 1rem 0rem 1rem;
        .read_more_logo {
          color: $primary-color;
          font-size: 1.3rem;
        }
        .read_more_title {
          font-family: $read-font;
          font-size: 1.1rem;
          margin-left: 1rem;
          color: black;
          font-weight: bold;
          cursor: pointer;
        }
      }
    }
    .switch_post_container {
      margin: 0.7rem 0 0rem 0;
      display: flex;
      justify-content: space-around;
      border: 1px solid black;
      padding: 1rem 0rem;
      .switch_post_image {
        @include switch_structure(0 0 0 0.8rem, 10rem, 0rem 0rem);
      }
      .switch_post_caption {
        @include switch_structure(0, 12rem, 1rem 1rem 1.2rem 1rem);
        cursor: pointer;
        border: none;
        font-family: $read-font;
        font-weight: bold;
        font-size: 1.05rem;
      }
    }
  }
  .tag_section {
    .tag_heading {
      @extend .category_portion_heading;
    }
  }
}
.sign_in_prompt {
  text-align: center;
  font-size: 1.4rem;
  font-family: $read-font;
  font-weight: bold;
}
